.hero-section{
min-height:90vh;
display:flex;
align-items:center;
}

.hero-image{
    width:100%;
    max-width:450px;
    height:auto;
    animation:float 3s ease-in-out infinite;
}
@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}

.hero-btn{
transition:0.4s;
}

.hero-btn:hover{
transform:translateY(-5px);
}

.stat-card{
transition:0.4s;
border-radius:20px;
}

.stat-card:hover{
transform:translateY(-10px);
}

@media (max-width: 992px){

    .hero-section{
        min-height:auto;
        padding:50px 0;
        text-align:center;
    }

    .hero-image{
        margin-top:40px;
        max-width:300px;
    }

    .display-3{
        font-size:2.5rem;
    }

    .navbar-nav{
        text-align:center;
        margin-top:20px;
    }

    .login-btn{
        display:block;
        margin:15px auto;
        width:200px;
        text-align:center;
    }
}

@media (max-width: 576px){

    .display-3{
        font-size:2rem;
    }

    .hero-btn{
        width:100%;
        margin-bottom:10px;
    }

}